.login-sub-main{
    margin-top: 100px;
}

.login-form {
    width: 100%;
    padding: 20px;
}

@media (min-width: 450px) {
    .login-form {
        width: 100%;
       
    }
}

.log-btn{
    width: 300px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,30,62,1) 49%, rgba(51,58,53,1) 79%, rgba(238,219,12,0.6250875350140056) 100%, rgba(255,193,7,0.4206057422969187) 100%);
  }
  .data{
    padding: 12px;
    margin-left: -10px;
    display: block;
    position: relative;
    width: 100%;
    color: #ffffff;
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,30,62,1) 49%, rgba(51,58,53,1) 79%, rgba(238,219,12,0.6250875350140056) 100%, rgba(255,193,7,0.4206057422969187) 100%);
    border: none;
    outline: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
 .card-gradient{
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,30,62,1) 49%, rgba(51,58,53,1) 79%, rgba(238,219,12,0.6250875350140056) 100%, rgba(255,193,7,0.4206057422969187) 100%);
  }